<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<div>
    <table>
        <thead>
        <tr>
            <th> ID</th>
            <th> Name</th>
            <th> Age</th>
            <th> City</th>
            <th> Edit</th>
            <th> Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.getId()}" id="id"></td>
            <td th:text="${user.getName()}" id="userName"></td>
            <td th:text="${user.getAge()}" id="userAge"></td>
            <td th:text="${user.getCity()}" id="userCity"></td>
            <td><a type="submit" th:href="@{/users/page-edit(id=${user.getId()})}">Edit</a></td>
            <td><a type="submit" th:href="@{/users/page-delete(id=${user.getId()})}">Delete</a></td>
        </tr>
        </tbody>
    </table>
</div>
<div>
    <form th:method="POST" th:action="@{/users}" th:object="${user}">
        <label for="name">Enter name:</label>
        <input type="text" th:field="*{name}" id="name"/>
        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color:#FF0000">Name error</div>
        <br>
        <label for="age">Enter age:</label>
        <input type="number" th:field="*{age}" id="age"/>
        <div th:if="${#fields.hasErrors('age')}" th:errors="*{age}" style="color:#FF0000">Age error</div>
        <br>
        <label for="city">Enter city:</label>
        <input type="text" th:field="*{city}" id="city"/>
        <div th:if="${#fields.hasErrors('city')}" th:errors="*{city}" style="color:#FF0000">City error</div>
        <br>
        <input type="submit" value="Create!">
    </form>
</div>

</body>
</html>